<p>Witaj <%= @resource.email %>!</p>

<p>Odebraliśmy żądanie zresetowania Twojego hasła. Moższ to zrobić, klikając poniższy odnośnik.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli to nie jest Twoje żądanie, zignoruj tę wiadomość i/lub usuń tę wiadomość.</p>
<p>Jeśli nie klikniesz w powyższy odnośnik, Twoje hasło pozostanie niezmienione.</p>
